<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ page.title }}</h1>
        </div>
    </div>
    <div name="posts">
        <div class="row">
            <div class="col-md-12">
                <h3 name="1-title"></h3>
                <i name="1-date"></i>
                <p name="1-description"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 name="2-title"></h3>
                <i name="2-date"></i>
                <p name="2-description"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 name="3-title"></h3>
                <i name="3-date"></i>
                <p name="3-description"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 name="4-title"></h3>
                <i name="4-date"></i>
                <p name="4-description"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 name="5-title"></h3>
                <i name="5-date"></i>
                <p name="5-description"></p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul id="paginator" class="pagination"></ul>
        </div>
    </div>

</div>