<!DOCTYPE html>
<html>
{% include head.html %}
    <body>
        {% include navigation.html %}
        <div class="post-container container">
            <div class="post-head">
                <div class="row">
                    <div class="col-md-12" >
                        <img src="{{ site.url }}/content/{{ page.img }}" alt="{{ page.title }}" id="title-img">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h1> {{ page.title }}</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <time>{{ page.date | date: '%B %d, %Y' }}</time> {% if page.comments %} | <a href="http://justinsoderstrom.com{{ page.url }}#disqus_thread">0 Comments</a> {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="well">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Goals</h3>
                            <hr />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <ul>
                                {{ page.goals }}
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Prerequisites</h3>
                            <hr />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <ul>
                                {{ page.prerequisites }}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ content }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {% include disqus.html %}
                </div>
            </div>
        </div>
        {% include footer.html %}
        {% include javascript.html %}
    </body>
</html>